@charset "UTF-8";
/* CSS Document */
body{
	background-color: #f7f6f6;
}
.contact_yoyaku{
    margin-top: 250px;
    margin-left: 20px;
}


.fadeUp {
  animation-name: fadeUpAnime;
  animation-duration:2s;
  animation-fill-mode:forwards;
  opacity: 0;
}
@keyframes fadeUpAnime{
from {
  opacity: 0;
  transform: translateY(100px);
}
to {
  opacity: 1;
  transform: translateY(0);
}

}


@media (max-width: 600px){
  .contact_yoyaku{
    margin-top: 150px;
  }
	.contact_yoyaku img{
		width:200%
	}
}
.dreap_logo{
    text-align: left;
    margin: 100px auto 20px;
    max-width: 960px;
}
.shop_photo_button{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 10%;
}



.btn_rink{
	line-height: 100px;
}


*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;/*rem算出をしやすくするために*/
}

.btn,
a.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}


.btn,
a.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}




a.btn-border-shadow {
	padding: calc(1.5rem - 12px) 3rem 1.5rem;
  
	background: #fff;
  }
  
  a.btn-border-shadow:before {
	position: absolute;
	top: -6px;
	left: -6px;
	width: 100%;
	height: 100%;
	content: "";
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	border: 1px solid #555555;
  }

  a.btn-border-shadow:hover {
	padding: calc(1.5rem - 6px) 3rem;
  }
  
  a.btn-border-shadow:hover:before {
	top: 0;
	left: 0;
  }

section{
	display: flex;
    justify-content: center;
    margin-top: 200px;
    flex-wrap: wrap;
    gap: 7%;
}

.ACCESS{
    width: 110%;
    border-bottom: 2px solid #c0bfbf;
    padding: 13px;
    display: flex;
    text-align: left;
    justify-content: flex-start;
	align-items: baseline;
}
.ACCESS p {
    line-height: 32px;
	font-weight: 400;
}
.access{
	padding-left: 30px;
}

.tel{
	padding-left: 60px;
}
.mail{
	padding-left: 50px;
}
.open{
	padding-left: 44px;
}
.dayoff{
	padding-left: 20px;
}
.map_iframe{
	width: 450px;
	height: 400px;
}
@media(max-width:900px){
	.map{
		margin-top:70px;
	}
}
@media(max-width:600px){
	.dreap_logo{
		margin-left: 6%;
		margin-top: 70px;
	}
	.dreap_logo img{
		width: 22%;
	}
	.shop_photo_button img{
	width: 90%;
	margin-bottom: 30px 
	}
	.section_access{
		padding-left: 2%;
		padding-right: 12%;
		}
	.ACCESS h2{
		font-size: 14px;
		font-weight: 600;
	}
	.ACCESS p{
    font-size: 14px;
	}
	.btn_rink {
		line-height: 70px;
	}
	section{
		margin-top: 100px;
		flex-direction: column;
	}
	.map_iframe{
		aspect-ratio: 1;
		width: 100%;
		height: 100%;
	}
	.map{
		aspect-ratio: 1;
		padding: 4%;
	}
}


